* {
  margin: 0px;
}

body {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center {
  background-color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 25.3%;
  margin-top: 50px;
  background-color: white;
}

.title {
  text-align: left;
}

.date {
  color: lightgray;
}

.img {
  height: 360px;

}

.humor {
  height: 610px;
}

footer {
  background-color: white;
  height: 50px;
  width: 25.3%;
  text-align: center;
}
